[submodule "pack/plugins/start/vim-go"]
	path = pack/plugins/start/vim-go
	url = https://github.com/fatih/vim-go.git
[submodule "pack/plugins/start/fzf.vim"]
	path = pack/plugins/start/fzf.vim
	url = https://github.com/junegunn/fzf.vim.git
[submodule "pack/plugins/start/fzf"]
	path = pack/plugins/start/fzf
	url = https://github.com/junegunn/fzf.git
[submodule "pack/plugins/start/vim-rails"]
	path = pack/plugins/start/vim-rails
	url = https://github.com/tpope/vim-rails
[submodule "pack/plugins/start/vim-vue"]
	path = pack/plugins/start/vim-vue
	url = https://github.com/posva/vim-vue.git
[submodule "pack/plugins/start/vim-surround"]
	path = pack/plugins/start/vim-surround
	url = https://github.com/tpope/vim-surround
[submodule "pack/plugins/start/vim-indent-object"]
	path = pack/plugins/start/vim-indent-object
	url = https://github.com/michaeljsmith/vim-indent-object
[submodule "pack/plugins/start/vim-easy-align"]
	path = pack/plugins/start/vim-easy-align
	url = https://github.com/junegunn/vim-easy-align
[submodule "pack/plugins/start/tcomment_vim"]
	path = pack/plugins/start/tcomment_vim
	url = https://github.com/tomtom/tcomment_vim
[submodule "pack/plugins/start/vim-airline"]
	path = pack/plugins/start/vim-airline
	url = https://github.com/vim-airline/vim-airline
[submodule "pack/plugins/start/vim-gitgutter"]
	path = pack/plugins/start/vim-gitgutter
	url = https://github.com/airblade/vim-gitgutter
[submodule "pack/plugins/start/vim-fugitive"]
	path = pack/plugins/start/vim-fugitive
	url = https://github.com/tpope/vim-fugitive
[submodule "pack/plugins/start/vim-visual-multi"]
	path = pack/plugins/start/vim-visual-multi
	url = https://github.com/mg979/vim-visual-multi
